@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Fira+Code:300,400&display=swap');

body {
  background: rgb(50,200,250);
  margin: 0;
  font-family: "Fira Code", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table, th, td {
  border: 2px solid #666;
  border-collapse: collapse;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: capitalize;
}